.main {
  width: 70%;
  min-height: 48rem;
  max-height: 48rem;
  border-radius: 5px;
  background-color: #b8c8f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-bar {
  background-color: #7798ca;
  width: 90%;
  height: 7%;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.main-action {
  background-color: white;
  width: 90%;
  height: 80%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

#search-box {
  background-color: #5383ff;
  width: 10rem;
  height: 9rem;
}
